{% extends "base.html" %}

{% block pagetitle %}Fituška 2.0 | Nenalezeno{% endblock %}
{% block title %} Fituška 2.0 | {{ courseshrt }} {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="padding: 40px 15px; text-align: center">
                    <h1>
                        Oops! Došlo k chybě!
                    </h1>
                    <h2>
                        Error 404 - nenalezeno
                    </h2>
                    <div class="error-details">
                        Je nám líto, hledaná stránka nebyla nalezena :c
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
