{% extends "base.html" %}

{% block pagetitle %}Fituška 2.0 | Neautorizováno{% endblock %}
{% block title %} Fituška 2.0 | {{ courseshrt }} {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div style="padding: 40px 15px; text-align: center">
                    <h1>
                        Oops! Došlo k chybě!
                    </h1>
                    <h2>
                        Error 401 - Nedostatečná autorizace
                    </h2>
                    <div class="error-details">
                        Nejste dostatečně autorizován/a pro přístup na stránku!
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
